@model WebApplication1.Models.Warehouse

@{
    ViewBag.Title = "Create";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="col-md-12">
    <div id="boxDivId" class="box box-info box-solid">
        <div class="box-header with-border">
            <h3 class="box-title" style="text-align:center">
                <span style="clear:both;">
                    <b>
                        Warehouse : New Warehouse
                    </b>
                </span>
            </h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <br />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.warehouseNo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.warehouseNo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.warehouseNo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.warehouseName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.warehouseName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.warehouseName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.warehouseManager, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.warehouseManager, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.warehouseManager, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.address, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.address, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.address, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PurchaseId, "PurchaseId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("PurchaseId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PurchaseId, "", new { @class = "text-danger" })
            </div>
        </div>

        <br />
        <div class="box-footer">
            <div class="row">
                <div class="col-md-2">
                    <br />
                    <a class="form-group btn btn-danger btn-block fa fa-arrow-circle-left" href="/Warehouses/Index"><span> Back</span></a>
                </div>
                <div class="col-md-6">

                </div>
                <div class="col-lg-4 col-md-4">
                    <br />
                    <button class="form-group btn btn-primary btn-block" value="Create" type="submit" id="btnPRsave">
                        <i class="fa fa-plus"></i>
                        <span>Create WareHouse</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
                }
