@model WebApplication1.Models.Product

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.buying_price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.buying_price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.selling_price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.selling_price)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>*@

        @*<dd>
            @Html.DisplayFor(model => model.Image)
        </dd>*@
        @*<dd>
            <img src="@Url.Content(Model.Image)" width="50" height="50" class="img-rounded" />
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProductId }, new { @class = "btn btn-primary" }) |
    @Html.ActionLink("Back to List", "Index", new { }, new { @class = "btn btn-info" })
</p>
