@model WebApplication1.Models.Store

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Store</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.store_no)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.store_no)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.store_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.store_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.manager_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.manager_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StoreId }, new { @class = "btn btn-primary" }) |
    @Html.ActionLink("Back to List", "Index", new { }, new { @class = "btn btn-warning" })
</p>
